page-home {
  .add-room {
    text-align: center;
  }
  .add-room ion-icon {
    font-size: 10em;
    margin-top: 50%;
  }
  .card-user {
    position: relative;
  }
  .card-user .fab {
    top: -5px;
    left: 5px;
  }
}
